<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Aprobador1" value="EjecutivoCuenta,Lider,100000"/>
    <add key="Aprobador2" value="Lider,Gerente,500000"/>
    <add key="Aprobador3" value="Gerente,Director,1000000"/>
    <add key="Aprobador4" value="Director,Presidente,10000000"/>
    <add key="Aprobador5" value="Presidente"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>